@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("./normalize.css");
@import "tailwindcss";

:root {
    --text-color: #000;
    --bg-color: #fff;
    --hint-color: rgb(100 116 139);
    --secondary-bg-color: #fff;
    --soft-black-color: #2c2c2c;
    --primary-color: #44ff00;
    --text-shadow: 2px 0 #000;
}

[theme-color="dark"] {
    --text-color: #fff;
    --bg-color: #1c1c1c;
    --secondary-bg-color: #000;
}

html {
    font-family: "Jersey 15", Inter, arial;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    display: block;
    font-size: 1rem;
    min-height: 100vh;
}
