@media screen and (max-width: 800px) {
    .wrapper {
        padding: 16px !important;
    }

    .headline {
        font-size: 1.25rem !important;
        transform: scaleX(2) !important;
    }

    .title {
        font-size: 1rem !important;
        transform: scaleX(2) !important;
    }
}