.canvas {
    height: 360px !important;
    width: 100% !important;
}

@media (min-width: 768px) {
    .canvas {
        height: 440px !important;
    }
}

@media (min-width: 1024px) {
    .canvas {
        height: 500px !important;
    }
}