.wrapper {
    display: flex;
    user-select: none;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;
}

.primary {
    background-color: var(--primary-color);
    color: #000;
}

.wrapper:active {
    transform: translate3d(2px, 2px, 2px);
}

.text {
    font-weight: 500;
    font-size: 1.5rem;
}

.secondary {
    outline: 1px solid var(--primary-color);
}
