.wrapper {
  display: flex;
  padding: 16px 100px;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
}

.name {
  padding: 8px;
  color: #000;
  background-color: #fff;
}

.age {
  color: var(--primary-color);
  text-shadow: 2px 0 #000;
}
