@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fff;
  --primary: #FF00B2;
  --separator: #484848;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-separator: var(--separator);
  --font-sans: var(--font-press-start-2p);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
